.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: #fff;
  width: 100%;
  margin: 15px;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.home-page .card-price {
  color: rgb(243, 112, 36);
  font-weight: bold;
  margin-left: 0;
}
.home-page .card-price span{
  color: rgb(87, 86, 86);
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.card-title{
  font-size: 16px;
  min-height: 30px;
  max-height: 30px;
}
.title{
  margin-left: 10px;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
  min-height: 60px;
  max-height: 60px;
}

.home-page .card img{
  width: 100%;
  height: 200px;
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 200px !important;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

.cart-text{
  height: 50px;
  overflow: hidden;
}
.home-page .add-cart{
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid grey;
  margin-left: auto;
}
.card-body{
  display: flex;
  flex-direction: column;
}

.d-flex .reset{
  background-color: #24c515;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
}
.d-flex .reset:hover{
  background-color: #16850c;
}

.like{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
}
.like svg{
  width: 30px;
  height: 30px;
  fill: #8b8b8b;
  color: #fff;
  margin-bottom: 20px;
}

.like svg:hover{
  fill: red;
  /* color: red; */
}
.card{
  padding-top: 15px;
}